{% load static %}

<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Homepage{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>

{% if request.user.is_authenticated %}
  Hello {{ request.user.username }} |
  <a href="{% url 'logout' %}?next=/">Logout</a>

{% else %}
  <a href="{% url 'social:begin' 'auth0' %}">Login with Auth0</a>
{% endif %}

